/* #region Global styles*/
html, body {
    margin:0;
    padding:0;
    }    
h1, h2, h3, h4, p, nav, .btn  {
    font-family: 'Manrope', sans-serif;
}
p {
    font-size: 14px;
}
div p {
    max-width: 90%;
}
.sans {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
}
h1 {
    font-weight: bold;
    display: inline;
}
h2 {
    display: block;
}
h3 {
    color: #276FFB;
    line-height: normal;
    display: inline;
}
h4 {
    text-align: center;
}
nav {
    font-size: 14px;
}
li {
    display: inline;
    margin-left: 15px;
}
.white {
    color: white;
}
.top-nav {
    color: white;
    float: right;
}
/* #endregion */
/* #region Buttons */
.btn-sq {
    float: right;
    background-color: #266EFD;
    padding: 5px 10px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom:0;
    right:0;
}
.btn-sq:hover {
    box-shadow: 0 1px 8px 0 #266EFD;
}

#btn-round {
    display: inline;
    border-radius: 50%;
    padding: 20px 25px;
    background-color: #266EFD;
    box-shadow: 0 1px 8px 0 #266EFD;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    margin-top: 16px;
    transform: translate(0px, 22px);
}
.btn-rect {
    background-color: #266EFD;
    box-shadow: #3876F1 58%;
    padding: 10px 25px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: inherit;
}
/* #endregion */
/* #region Hero*/
.hero-container {
    position: absolute;
    top: 40px;
    left: 9%;
    width: 83%;
}
.hero-image-container {
    overflow: hidden;
}
#hero-image {
    min-height: 405px;
    min-width: 1440px;
    max-width: 100%;
}
/* #endregion */
/* #region Job offers*/
.job-offers-container{
    position: relative;
    top: 40px;
    left: 9%;
    max-width: 1593.6px;
    width: 83%;
    margin-bottom: 50px;
}
.job-offers-top {
    margin-bottom: 10px;
}
.job-list {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.job {
    width: 350px;
    flex-basis: auto;
    flex-grow: 1;
    margin-right: 30px;
    position: relative;
    border-left: lightgray 1px solid;
    padding-left:20px;
}
div.job:nth-child(1) {
    border-left: none;
    padding-left: 0px;
}
.all-jobs {
    float: right;
    color: #276FFB;
    font-weight: bold;
}
.time-since-post-container{
    display: block;
    text-align: right;
    float: right;
}
.time-since-post {
    display: inline;
    text-align: right;
}
@media (max-width: 1399px) {
div.job:nth-child(odd):last-child:not(:only-child){
    padding-left: 0px;
    border-left: none;
}
.job{
    padding-top: 10px;
}
}
/* #endregion */
/* #region  Featured companies*/
.featured-heading {
    display: block;
}
.featured-container{
    position: relative;
    top: 40px;
    left: 9%;
    max-width: 1593.6px;
    width: 83%;
}
.featured {
    padding-bottom: 30px;
}
.companies {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
}
.company {
    min-width: 110px;
    flex-basis: auto;
    padding: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-container {
    display: block;
    margin: 0 auto;
    width: 75%;
    border: lightgray 1px solid;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.company:not(h4) > * {
    padding-top: 30px;
    padding-bottom: 30px;
   }
div.company > h4 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#xenity {
    width: 25px;
    height: 25px;
}
/* #endregion */
/* #region  Newsletter*/
#newsletter-image {
    height: 200px;
    float: right;
}
.newsletter{ 
    position: relative;
    top: 40px;
    left: 9%;
    width: 83%;
}
.bottom {
    position: absolute;
    top: 8px;
    left: 60px;
}
.bottom-text {
    position: absolute;
    top: 65px;
    left: 60px;
    width: 350px;
}
.bottom-banner {
    width: 100%;
    background-color: black;
    height: 200px;
}
@media (max-width: 1039px) {
#newsletter-image {
    display: none;
}
}
/* #endregion */
/* #region  Footer*/
.footer {
    margin: 60px;
    text-align: center;
}
input {
    height: 27px;
    border-radius: 5px;
    border: lightgray 1px solid;
    width: 235px;
    margin-right: 20px;
}
.subs {
    padding: 7px 25px;
    font-weight: normal;
    font-size: small;
    border-radius: 2px;
}
.email-collection {
    position: absolute;
    top: 137px;
    left: 60px;
    width: 350px;
}
/* #endregion */